In [2]:
import pandas as pd

## Quick Object Conversions

In [3]:
employees = pd.read_csv("employees.csv")
employees.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance

## Export `DataFrame` to CSV File with the `.to_csv()` Method

In [6]:
employees.to_csv("employees_test.csv", index = False, columns = ["Gender", "Team"], encoding = "utf-8")